<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zp.mapper.QiyeMapper">


    <select id="findUserCount" parameterType="com.zp.model.Qiye" resultType="int">
        select count(*) from at_qiye m
    </select>
    <select id="findUserList" resultType="com.zp.model.Qiye">
        select * from at_qiye m
        limit #{start},#{rows}
    </select>

    <select id="findPageAxy" resultType="com.zp.model.Qiye">
        select * from at_qiye
    </select>

    <insert id="saveCaiPin" parameterType="com.zp.model.Qiye">
        insert into at_qiye (name,renzheng,shidirenzheng,time,date,taocan,zhiwei)
         values (#{name},#{renzheng},#{shidirenzheng},#{time},#{date},#{taocan},#{zhiwei})
    </insert>
    <delete id="deleteOne" parameterType="int" >
        delete from at_qiye where id=#{id}
    </delete>
</mapper>
